{% extends "core/base.html" %}

{% block title %}{{ title }} - Sistema Aliada{% endblock %}

{% block content %}
<section class="dashboard-section">
    <header style="display: flex; align-items: center; margin-bottom: 20px; justify-content: center;">
        <i class="material-icons" style="cursor: pointer; margin-right: 10px; font-size: 40px;" onclick="window.location.href='{% url 'record_list' %}'">chevron_left</i>
        <h1>Novo Paciente</h1>
        <i class="material-icons" style="cursor: pointer; margin-left: 10px; font-size: 40px;" onclick="window.location.href='{% url 'home' %}'">home</i>
    </header>
    <form method="post" enctype="multipart/form-data" id="record-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">Primeiro Nome:</label>
            <div class="input-group">
                <span class="input-group-icon"><i class="material-icons">person</i></span>
                {{ form.first_name }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Sobrenome:</label>
            <div class="input-group">
                {{ form.last_name }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.age.id_for_label }}">Idade (anos):</label>
            <div class="input-group">
                <span class="input-group-icon"><i class="material-icons">cake</i></span>
                {{ form.age }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.weight.id_for_label }}">Peso (kg):</label>
            <div class="input-group">
                <span class="input-group-icon"><i class="material-icons">monitor_weight</i></span>
                {{ form.weight }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.height.id_for_label }}">Altura (cm):</label>
            <div class="input-group">
                <span class="input-group-icon"><i class="material-icons">height</i></span>
                {{ form.height }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            <div class="input-group">
                <span class="input-group-icon"><i class="material-icons">email</i></span>
                {{ form.email }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.phone.id_for_label }}">Telefone:</label>
            <div class="input-group">
                <span class="input-group-icon"><i class="material-icons">phone</i></span>
                {{ form.phone }}
            </div>
        </div>
        <button class="feature-link" type="submit">Salvar</button>
    </form>
    <a href="{% url 'record_list' %}">Voltar à Lista</a>
</section>
{% endblock %}
