{% extends "core/base.html" %}

{% block title %}Pacientes - Sistema Aliada{% endblock %}

{% block content %}
    <section class="dashboard-section">
        <div class="container">
        <header style="display: flex; align-items: center; margin-bottom: 20px; justify-content: center;">
        <i class="material-icons" style="cursor: pointer; margin-right: 10px; font-size: 40px;" onclick="window.location.href='{% url 'home' %}'">chevron_left</i>
        <h1>Gerenciamento de Pacientes</h1>
        </header>
            <form method="get" class="search-form">
                <input type="text" name="q" value="{{ query }}" placeholder="Pesquisar por nome...">
                <button class="feature-link"     type="submit">Pesquisar</button>
                {% if query %}
                    <a href="{% url 'record_list' %}">Limpar</a>
                {% endif %}
            </form>
            <center>
            <div class="button-container-1" style="text-align: center;">
                
                <button style="text-align: center;" type="button" class="create-link" onclick="window.location.href='{% url 'record_create' %}'">Adicionar Novo Paciente</button>
            </div>
            </center>
            <table class="modern-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Peso</th>
                        <th>Altura</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in page_obj %}
                        <tr>
                            <td><a href="{% url 'patient_detail' pk=record.pk %}">{{ record.first_name }} {{ record.last_name }}</a></td>
                            <td>{{ record.age|default:"N/A" }} anos</td>
                            <td>{{ record.weight|default:"N/A" }} kg</td>
                            <td>{{ record.height|default:"N/A" }} cm</td>
                            <td>
                                <div class="table-actions">
                                    <button type="button" class="detail-link" onclick="window.location.href='{% url 'patient_detail' pk=record.pk %}'">Detalhes</button>
                                    <button type="button" class="edit-link" onclick="window.location.href='{% url 'record_update' pk=record.pk %}'">Editar</button>
                                    <button type="button" class="delete-link" onclick="window.location.href='{% url 'record_delete' pk=record.pk %}'">Excluir</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not page_obj %}
                <div class="no-results">
            <i class="material-icons" style="font-size: 4em; color: var(--gray-color); margin-bottom: 20px;">inbox</i>
            <h2>Nenhum paciente encontrado</h2>
            <p>Não há pacientes registrados no sistema.</p>
        </div>
    {% endif %}
    {% include "core/partials/_pagination.html" %}
    <br>
{% endblock %}
