{% extends "core/base.html" %}

{% block title %}{{ title }} - Sistema Aliada{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="post" enctype="multipart/form-data" id="balance-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.patient.id_for_label }}">Paciente:</label>
            <div class="input-group">
                <span class="input-group-icon"><i class="material-icons">person</i></span>
                {{ form.patient }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.date.id_for_label }}">Data:</label>
            <div class="input-group">
                <span class="input-group-icon"><i class="material-icons">calendar_today</i></span>
                {{ form.date }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.type.id_for_label }}">Tipo:</label>
            <div class="input-group">
                <span class="input-group-icon"><i class="material-icons">category</i></span>
                {{ form.type }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.amount.id_for_label }}">Valor:</label>
            <div class="input-group">
                <span class="input-group-icon"><i class="material-icons">attach_money</i></span>
                {{ form.amount }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Descrição:</label>
            <div class="input-group">
                {{ form.description }}
            </div>
        </div>
        <button class="feature-link" type="submit">Salvar</button>
    </form>
    <a href="{% url 'balance_list' %}">Voltar à Lista</a>
{% endblock %}
