{% extends "core/base.html" %}

{% block title %}Saldos - Sistema Aliada{% endblock %}

{% block content %}
    <section class="dashboard-section">
        <div class="container">
    <header style="display: flex; align-items: center; margin-bottom: 20px; justify-content: center;">
        <i class="material-icons" style="cursor: pointer; margin-right: 10px; font-size: 40px;" onclick="window.location.href='{% url 'home' %}'">chevron_left</i>
        <h1>Gerenciamento de Saldos</h1>
    </header>
            <form method="get" class="search-form">
                <input type="date" name="q" value="{{ query }}" placeholder="Pesquisar por data...">
                <input type="date" name="q2" value="{{ query2 }}" placeholder="Pesquisar por data...">
                <button class = "feature-link"type="submit">Pesquisar</button>
                {% if query or query2 %}
                    <a href="{% url 'balance_list' %}">Limpar</a>
                {% endif %}
            </form>

            <div class="button-container-1">
                <button style="text-align: center;" type="button" class="create-link" onclick="window.location.href='{% url 'balance_create' %}'">Adicionar Novo Saldo</button>
            </div>

            <table class="balance-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Value</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for balance in balances %}
            <tr>
                <td><a href="{% url 'balance_detail' pk=balance.pk %}">{{ balance.patient.first_name }} {{ balance.patient.last_name }}</a></td>
                <td>{{ balance.date|date:"d/m/Y" }}</td>
                <td>R$ {{ balance.amount }}</td>
                <td>{{ balance.type }}</td>
                <td>
                    <div class="actions">
                        <button class="feature-link" type="button" onclick="window.location.href='{% url 'balance_detail' pk=balance.pk %}'">Detalhes</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4"><strong>Total:</strong></td>
                <td><strong>R$ {{ total }}</strong></td>
            </tr>
        </tbody>
    </table>
    {% if not balances %}
        <div class="no-results">
            <i class="material-icons" style="font-size: 4em; color: var(--gray-color); margin-bottom: 20px;">inbox</i>
            <h2>Nenhum saldo encontrado</h2>
        </div>
    {% endif %}
        </div>
    </section>
{% endblock %}
