{% extends "core/base.html" %}

{% block title %}Excluir Saldo - Sistema Aliada{% endblock %}

{% block content %}
<section class="dashboard-section">
    <center>
    <h1>Excluir Saldo</h1>
    <p>Tem certeza de que deseja excluir "{{ balance }}"?</p>
    </center>
    <form method="post">
        {% csrf_token %}
        <button class="feature-link" type="submit">Sim, Excluir</button>
    </form>
    <center>
    <a href="{% url 'balance_detail' pk=balance.pk %}">Cancelar</a>
    </center>
</section>
{% endblock %}
