{% extends "core/base.html" %}

{% block title %}Entrar - Aliada{% endblock %}

{% block content %}
<section class="dashboard-section">
    <center>
    <h1>Entrar</h1>
    </center>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Nome de Usuário:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Entrar</button>
    </form>
    <center>
    </center>
</section>
{% endblock %}
