{% extends "core/base.html" %}

{% block title %}Detalhes da Consulta - Sistema Aliada{% endblock %}

{% block content %}
    <div class="record-container">
        <h1>Detalhes da Consulta</h1>
        <div class="record-card">
            <div class="record-header">
                <h2>{{ record.patient.name }} - {{ record.date | date:"d/m/Y" }} --- Atendido por {{record.created_by.first_name }} {{ record.created_by.last_name }}</h2>
            </div>
            <div class="record-body">
                <div class="record-section">
                    <h3>Consulta</h3>
                    <p>{{ record.description }}</p>
                </div>
                {% if record.appointment_feedback %}
                    <div class="record-section">
                        <h3>Comentários da Consulta</h3>
                        <p>{{ record.appointment_feedback }}</p>
                    </div>
                {% endif %}
                {% if record.weight %}
                    <div class="record-section">
                        <h3>Dados do Paciente</h3>
                        <p>Peso: {{ record.weight|floatformat:".0f" }} kg</p>
                        <p>Altura: {{ record.height|floatformat:".0f" }} cm</p>
                    </div>
                {% endif %}
                {% if record.image_medical %}
                    <div class="record-section">
                        <h3>Imagem Médica</h3>
                        <img src="{{ record.image_medical.url }}" alt="Imagem Médica" class="record-image">
                    </div>
                {% endif %}
                {% if record.document %}
                    <div class="record-section">
                        <h3>Documentos</h3>
                        <ul>
                            <li><a href="{{ record.document.url }}" target="_blank">{{ record.document.name.split|last }}</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="record-actions">
                <button type="button" size="small" class="edit-link" onclick="window.location.href='{% url 'medical_record_update' pk=record.pk %}'">Editar Consulta</button>
                <button type="button" size="small" class="delete-link" onclick="window.location.href='{% url 'medical_record_delete' pk=record.pk %}'">Excluir Consulta</button>
                <button type="button" size="small" class="back-link" onclick="window.location.href='{% url 'patient_detail' pk=record.patient.pk %}'">Voltar ao Paciente</button>
            </div>
        </div>
    </div>
{% endblock %}
