{% load static %}
    <header class="main-header">
        <div class="header-container">
            <button style="width: 50px;" id="sidebar-toggle" class="sidebar-toggle-btn">
                <i class="material-icons">menu</i>
            </button>
            <div class="header-user">
                {% if user.is_authenticated %}
                    <span class="user-greeting">Olá, {{ user.first_name|default:user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn-logout">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn-login">Entrar</a>
                {% endif %}
            </div>
        </div>
    </header>
