{% extends "core/base.html" %}

{% block title %}{{ title }} - Sistema Aliada{% endblock %}

{% block content %}
    <header style="display: flex; align-items: center; margin-bottom: 20px; justify-content: center;">
        <i class="material-icons" style="cursor: pointer; margin-right: 10px; font-size: 40px;" onclick="window.location.href='{% url 'balance_plan_menu' %}'">chevron_left</i>
        <h1>Criar Plano</h1>
    </header>
<section class="dashboard-section">
    <div class="section-header">
    </div>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="error-messages">
                    {% for error in form.non_field_errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Nome do Plano:</label>
                <div class="input-group">
                    <span class="input-group-icon"><i class="material-icons">label</i></span>
                    {{ form.name }}
                    {% if form.name.errors %}
                        <div class="field-error">{{ form.name.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.amount.id_for_label }}">Valor:</label>
                <div class="input-group">
                    <span class="input-group-icon"><i class="material-icons">attach_money</i></span>
                    {{ form.amount }}
                    {% if form.amount.errors %}
                        <div class="field-error">{{ form.amount.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.expiration_days.id_for_label }}">Dias de Validade:</label>
                <div class="input-group">
                    <span class="input-group-icon"><i class="material-icons">schedule</i></span>
                    {{ form.expiration_days }}
                    {% if form.expiration_days.errors %}
                        <div class="field-error">{{ form.expiration_days.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.medical.id_for_label }}">Médico:</label>
                <div class="input-group">
                    {{ form.medical }}
                    {% if form.medical.errors %}
                        <div class="field-error">{{ form.medical.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.nutrition.id_for_label }}">Nutrição:</label>
                <div class="input-group">
                    {{ form.nutrition }}
                    {% if form.nutrition.errors %}
                        <div class="field-error">{{ form.nutrition.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.percentage_medical.id_for_label }}">Percentual Médico (%):</label>
                <div class="input-group">
                    <span class="input-group-icon"><i class="material-icons">percent</i></span>
                    {{ form.percentage_medical }}
                    {% if form.percentage_medical.errors %}
                        <div class="field-error">{{ form.percentage_medical.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.percentage_nutrition.id_for_label }}">Percentual Nutrição (%):</label>
                <div class="input-group">
                    <span class="input-group-icon"><i class="material-icons">percent</i></span>
                    {{ form.percentage_nutrition }}
                    {% if form.percentage_nutrition.errors %}
                        <div class="field-error">{{ form.percentage_nutrition.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>
            

            <div class="form-actions">
                <button type="submit" class="feature-link">
                    Salvar
                </button>
                <a href="{% url 'balance_plan_list' %}" class="cancel-link">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</section>

{% endblock %}
